<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Fullname}}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/static/images/favicon.ico"
      type="image/x-icon"
    />
    <meta
      name="description"
      content="My Name is Jacob Mary Tapere, a BSIT student at University of Cebu - Banilad. Experience in React.js + Vite, React Native, and a little bit of Golang."
    />
    <meta property="og:title" content="Jacob Mary Tapere - Portfolio" />
    <meta property="og:image" content="/static/images/Profile_Picture.png" />
    <meta
      property="og:description"
      content="Explore my projects and skills in React, React Native, Golang, and more."
    />
    <meta
      name="google-site-verification"
      content="Q064RQUoTCcEvsVPN5OZ56nOgpFkJzCViH6LJaDo1as"
    />
    <meta name="author" content="Jacob Mary Tapere" />
    <meta
      name="keywords"
      content="About Jacob Mary Tapere, Life of Jacob Mary Tapere"
    />
    <meta
      name="keywords"
      content="Jacob Mary Tapere, Portfolio, BSIT, React, React Native, Golang, University of Cebu"
    />
    <meta name="keywords" content="Jacob Mary Tapere" />
    <meta name="keywords" content="Jacob Mary Tapere - Portfolio" />
  </head>
  <body class="bg-[#F9FAFB] xl:px-[22%] px-[8%] flex flex-col gap-5">
    <section
      class="flex flex-col items-center px-10 gap-6 h-full mt-8 bg-white drop-shadow-md rounded-xl"
    >
      <div class="mt-10 text-center gap-2 flex-col flex">
        <h1 class="font-['Signika'] text-[#111827] font-bold text-3xl">
          About Me
        </h1>
        <img
          src="/static/images/About_Picture.jpg"
          alt="Jacob Mary Working"
          class="h-52 w-52 rounded-full"
        />
        <h1 class="font-['Signika'] text-xl font-bold mt-4">
          Jacob Mary Tapere
        </h1>
        <p class="font-['Signika'] font-medium">Aspiring Software Engineer</p>
      </div>
      <div
        class="h-full mb-10 w-full indent-10 text-justify font-['Signika'] px-10 md:px-20 leading-8 2xl:px-40"
      >
        I am currently a 4th-year student pursuing a Bachelor of Science in
        Information Technology at the University of Cebu – Banilad. Previously,
        I was taking up a Bachelor of Science in Tourism Management at the
        University of San Jose–Recoletos. My curiosity about how technology
        works led me to shift to IT in August 2022. I began building websites
        using HTML, CSS, and JavaScript in December 2022, and later explored
        React in April 2023. Today, I can develop both mobile applications and
        web applications using React Native and XML Layout + Kotlin for mobile,
        as well as React.js + Vite and Next.js for web development and Tailwind
        CSS for styling. For backend development, I use Express.js, and I’m
        currently exploring Golang to further expand my skills.
      </div>
    </section>
    <section
      class="flex flex-col items-center px-10 pb-8 gap-6 h-screen mt-8 bg-white drop-shadow-md rounded-xl"
    >
      <h1 class="font-['Signika'] text-[#111827] font-bold text-3xl mt-10">
        Achievements
      </h1>

      <div class="flex flex-col justify-around h-full">
        <div class="grid grid-cols-2">
          <div class="flex flex-col gap-4 items-center justify-around">
            <h1 class="font-['Signika'] text-lg font-semibold text-center">
              UC CCS 11th ICT Congress: <br />
              Networking Competition &hyphen; 2nd Place (2025)
            </h1>
            <img
              src="/static/images/Networking.jpg"
              alt="Networking 2nd Place photo"
              class="h-52 rounded-lg"
            />
          </div>
          <div class="my-auto">
            <li
              class="text-justify list-disc leading-7 font-['Signika'] font-medium"
            >
              A networking competition against the respective College of
              Computer Studies of the various University of Cebu campuses
            </li>
          </div>
        </div>

        <div class="grid grid-cols-2">
          <div class="flex flex-col gap-4 items-center justify-around">
            <h1 class="font-['Signika'] text-lg font-semibold text-center">
              Certificate of Completion: <br />
              Cisco Networking Academy (2025)
            </h1>
          </div>
          <div class="my-auto">
            <li
              class="text-justify list-disc leading-7 font-['Signika'] font-medium"
            >
              Acquired foundational knowledge in networking fundamentals,
              including TCP/IP protocols, Ethernet, and OSI model.
            </li>
          </div>
        </div>
      </div>
    </section>

    <footer class="text-center mb-8 font-['Signika'] font-medium">
      © 2025 Jacob Mary Tapere. All rights reserved.
    </footer>
  </body>
</html>
